<img src="assets/PNGs/My-Boro_Header.png" id="img_header_logo">

<img src="assets/PNGs/Sign_Up.png" class="img_header_session">

<img src="assets/PNGs/Log_In.png" class="img_header_session">


<div id="line"> </div>
