


<div id="category_container" class="boro">
  <img src="assets/PNGs/Brooklyn.png" id="boro_image">
</div>



<div id="category_container" class="boro">
  <img src="assets/PNGs/Staten_Island.png" id="boro_image">
</div>


<div id="category_container" class="boro">

  <img src="assets/PNGs/The_Bronx.png" id="boro_image">
</div>


<div id="category_container" class="boro">
  <img src="assets/PNGs/Manhattan.png" id="boro_image">
</div>


<div id="category_container" class="boro">
  <img src="assets/PNGs/Queens.png" id="boro_image_queens">
</div>


<div id="category_container" class="boro">
  <img src="assets/PNGs/Find_by_Zip.png" id="boro_image">
</div>









<div id="category_container" class="category">

<!--   <img src="assets/PNGs/Weather_SUNNY_CLOUDY.png" id="category_image"> -->

</div>

<div id="category_container" class="category">
<!--   <img src="assets/PNGs/Subway.png" id="category_image"> -->

</div>

<div id="category_container" class="category">
<!--   <img src="assets/PNGs/Movies.png" id="category_image"> -->

</div>


<div id="category_container" class="category">

<!--   <img src="assets/PNGs/Bike.png" id="category_image"> -->


</div>

<div id="category_container" class="category">

<!--   <img src="assets/PNGs/News.png" id="category_image"> -->

</div>

<div id="category_container" class="category">
<!--   <img src="assets/PNGs/Food.png" id="category_image"> -->

</div>


