<ul class="subheader">
  <li class="use_location">Use my current location</li>
  <li class="bronx">The Bronx</li>
  <li class="brooklyn">Brooklyn</li>
  <li class="staten island">Staten Island</li>
  <li class="queens">Queens</li>
  <li class="manhattan">Manhattan</li>
  <li class="find_by_zip">Find by zip</li>
</ul>
